.women-page {
  padding: 2rem;
  text-align: center;
}

.women-page h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.women{
font-family: 'Times New Roman', Times, serif;
margin-left: 40%;
}
